.menu-logo{
    padding-right: 16px;
    border-right: 1px solid #dee2e6;
    margin-right: 8px;
}

#alarm-badges {
    display: none;
    margin-left: 8px;
    /* position: absolute; */
}

.grid{
    display: grid;
}

.change-password{
    margin-top: 8px;
    margin-bottom: 24px;
}

.pb-56{
    padding-bottom: 56px;
}